@font-face {
    font-family: 'JetBrains';
    src: url(https://github.com/JetBrains/JetBrainsMono/blob/master/fonts/ttf/JetBrainsMono-Regular.ttf);
}

body {
    font-family: 'JetBrains Mono', 'Courier New', monospace;
    margin: 0px;
    background: rgb(48, 128, 160);
    padding: 0px;
}

.card {
    border-radius: 25px;
    border-style: solid;
    padding: 30px;
    padding-top: 10px;
    width: 120px;
    min-height: 140px;
    font-size: 90%;
}

@keyframes card-shadow {
    from {box-shadow: 0px 0px 0rem black}
    
    to {box-shadow: 0px 5px 0.5rem black}
}

.card:hover {
    box-shadow: 0px 3px 0.5rem black;
    animation-name: card-shadow;
    animation-duration: 0.5s;
}

.white-card {
    border-color: black;
    background: white;
}

.black-card {
    background-color: black;
    color: white;
    border-color: black;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.winner {
    background-color: rgb(102, 223, 102);
}

.hand {
    border-top-style: none;
    min-height: 140px;
}

.disabled {
    background: rgba(39, 39, 39, 0.8) !important;
}

.played {
    border-bottom-style: none;
    min-height: 140px;
}

.holder {
    background: #f4f2e8;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    min-width: inherit;
}

.footer {
    border-top-style: none;
    font-size: 20px
}

.user-points {
    margin-left: 10px
}

.players-list {
    border-bottom-style: none;
    min-height: 50px;
}

.player {
    border-right: black solid 2px;
    padding: 3px;
}

.picked {
    background-color: rgb(102, 223, 102);
}

.czar {
    background-color: lightslategray;
}

.winner {
    background-color: royalblue;
}

.box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tall-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.button {
    border-width: 2px;
    border-radius: 7px;
    border-color: black;
    border-style: solid;
    background-color: white;
    padding: 3px;
    max-width: max-content;
    max-height: max-content;
}

.server-entry:hover,
.button:hover {
    background-color: rgb(166, 170, 173);

}

.server-entry:active,
.button:active {
    background-color: rgb(111, 112, 119);
}

.game {
    position: absolute;
    z-index: -1;
    min-height: 80%;
    min-width: 95%;
}

.settings-menu {
    position: absolute;
    z-index: 1;
}

#shadow {
    position:absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background: rgba(39, 39, 39, 0.8);
    z-index:0;
}

.player-responses {
    border-radius: 25px;
    border-style: none;
    background-color: rgb(116, 132, 151);
    margin: 10px;
}

.game-end-menu {
    z-index: 1;
    position: relative;
}