#create-join-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#create-join-card {
    padding: 1em;
    text-align: center;
    min-width: 35vw;
}