* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

#canvas-container {
    display: block;
    position: relative;
}

canvas {
    display: block;
    position: absolute;
}

#text {
    background-color: transparent;
}