<div id="game" class="game">
        <div id="players-list", class="players-list holder"></div>
        <div id="played-div" class="played holder">
                <div id="black-card-div" class="black-card-div"></div>
                <div id="played-cards" class="played-cards"></div>
        </div>
        <div id="hand" class="hand holder"></div>
        <div id="footer" class="footer holder"><span id="user-name" class="user-name"></span><span id="user-points" class="user-points"></span> Points</div>
</div>